<%- include('partials/header'); -%>

    <div class="jumbotron">
        <h1 class="display-4">太棒啦！🎉</h1>
        <p class="lead">成功收到了你的消息啦✨</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg" href="/" role="button">回到首页</a>
      </div>

<%- include('partials/footer'); -%>